<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <header>
        <p>header</p>
    </header>
    
<main class="main">
    <aside class="aside-left"> aside left

    </aside> 

    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim optio laboriosam doloribus provident explicabo nisi aliquam deserunt, quae assumenda pariatur nam sed labore ducimus autem officiis. Minus repellendus vero natus?
    Libero quibusdam adipisci in quisquam saepe voluptate reprehenderit nobis dolore voluptatibus quidem, rem placeat rerum at ullam doloremque quia, cum labore officiis deleniti, repellat sint praesentium culpa. Fuga, earum culpa.
    <br><br><br><br>
    </article>           
    <aside class="aside-right" >aside right

    </aside>
   
</main>
    <footer>
        <p>footer</p>
    </footer>

          
</body>
</html>