body {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
     
}

header {
    background-color: #ff0000;
    padding: 1px;
    flex-basis: 50%;
}
.main{
    display: flex;
    flex-direction: row;
}

.aside-left {
    background-color: #068006;
    flex-basis: 15%;
}
article {
    background-color: #83a7f3;
    flex-basis: 70%;
    
}

.aside-right {
    background-color: #f369d5;
    flex-basis: 15%;
}
footer {
    background-color: #0000ff;
    padding: 1px;

} 