* {
    background-color: aliceblue;
   
}
.main-header {
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li[class="css"]::before {
    content: "*";
    color: blue;
}