button {
    background-color: orange;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border: 0;
    cursor: pointer;
    transition: all 0.5s;
}

/* Selektor hover */
button:hover {
    background-color: green;
    padding: 30px;
}
/* Selektor fokus */
input:focus {
    background-color: yellow;
    outline: 0;
}

/* Selektory relacji */

li:first-child {
    background-color: green;
}

li:last-child {
    background-color: lightblue;
}

li:nth-of-type(5) {
    color: red;
}
li:nth-of-type(3n + 1) {
    background-color: grey;
}

li:nth-of-type(even) {
    background-color: yellow;
}
