
@media (max-width: 1170px) {
    .image1{                            
background-image: url(../obrazy/man-2.jpg);
background-size: auto 70%;
background-repeat: no-repeat;
background-position: top;
padding: 280px 10px;  
}
p {

 position: absolute;
 top: 2%;
 left: 50%;
 text-align: right;

}

}

@media (min-width: 1170px) {
    .image1{
        display: none;
    }
    .image2{   
background-image: url(../obrazy/man-1.jpg);
background-position: center top;
background-size: auto 100%;
background-repeat: no-repeat;
padding: 280px 0px;
    
}
p {

    position: absolute;
    top: 40%;
    left: 20%;
    text-align: left;
    
   }

}
@media (max-width: 922px) {
    .image1{
        display: none;
    }
    .image2{  
        
background-image: url(../obrazy/man-1.jpg);
background-position: center top;
background-size: auto 50%;
background-repeat: no-repeat;
padding: 280px 0px;
    
}
p {
    color: #000;
    position: absolute;
    top: 50%;
    left: 35%;
    text-align: center;
   }

}




/* 
background-size: contain;
background-position: top;
 */